#textarea {
    position: relative;
    background-color: transparent;
    width: 400px;
    height: 300px;
    font-size: 14px;
}

.App {
    margin: 0 auto;
    width: 100%;
}

.pollItem {
    border: 1px solid black;
    padding: 10px 5px;
    display: inline-block;
    background: #fff
}

.poll {
    display: inline-block;
}

.inlineBlock {
    display: inline-block;
    vertical-align: top;
}